.register-container {
  width: 400px;        /* You can change this */
  height: 500px;       /* You can change this */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}


.register-container h2 {
  margin-bottom: 18px;
  font-size: 24px;
  color: #363434;
 
}

.register-container input {
  width: 300px;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #bdc3c7;
  border-radius: 5px;
  font-size: 16px;
}

.register-container button {
  padding: 4px 12px;
  background-color: #2e7a4e;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;

}

.register-container button:hover {
  background-color: #229954;
}